@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);


.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
  }

  .counter-container-add {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  h1 {
    margin: 10px;
    font-family: 'Roboto';
  }
  
  .increment-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  

  .decrement-button {
    background-color: #f44336;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
   
  .reset-button {
    background-color: #7cabbb;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
   